@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


:root {
    --font: 'Roboto', sans-serif;
    --clr: #ebecfe;
    --txtclr: #2f2f2f;
    --error: hsl(356, 69%, 56%);
    --success: hsl(143, 92%, 51%);
    --focus: hsl(37, 97%, 70%);
    --clr3: #00ffee
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
    background-color: #fefefe;
    position: relative;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2em;
    background-color: #fefefe;
    box-shadow: 0 5px 10px -2px rgba($color: #000000, $alpha: 0.2);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--txtclr);
    font-family: var(--font);
    font-weight: 300;
    letter-spacing: 2px;
}

select {
    padding: 0.75em 1em;
    appearance: none;
    cursor: pointer;
    border: none;
    background-color: var(--txtclr);
    max-width: 200px;
    color: var(--clr);
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: var(--font);
}

option {
    background-color: #fefefe;
    color: #212121;
    text-transform: uppercase;
}

main {
    width: 100%;
    padding: 2em;

}

.container {
    background-color: var(--clr);
    width: 100%;
    height: 900px;
    box-shadow: 0 5px 10px -2px rgba($color: #000000, $alpha: 0.2);
    padding: 2em;


    .first-class {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }



    .row-1 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows:100px ;
        grid-template-rows: repeat(5, 1fr);
        grid-auto-flow: column;

    }


}

.seat {
    width: 20px;
    height: 20px;
    margin: 1em;
    background-color: var(--txtclr);
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;

    &:hover:not(.occupied) {
        transform: scale(1.1);
    }





}

.overlay {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--focus);
    box-shadow: 0 5px 10px -2px rgba($color: #000000, $alpha: 0.2);
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font);
    text-transform: capitalize;
    letter-spacing: 2px;


    #movie-name {
        text-transform: uppercase;

    }

    p {
        font-size: 0.8rem;
    }

}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;

    .na {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 0.8rem;
            font-weight: 300;
            font-family: var(--font);
        }

    }

}

button {
    padding: 0.75em 2em;
    display: inline-block;
    appearance: none;
    border: none;
    background-color: var(--txtclr);
    color: var(--clr);
    text-transform: capitalize;
    white-space: nowrap;
    font-family: var(--font);
    letter-spacing: 2px;
    cursor: pointer;
}

.occupied {
    background-color: var(--error);
}

.selected {
    background-color: var(--success);
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    

    .content{
        width:100%;
        max-width: 350px;
        height: 450px;
        background-color: #fefefe;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2em;
        transition: transform 0.4s ease;
      
        transform: scale(0);
     

        p{
            font-size: 0.8rem;
            font-family: var(--font);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
        }

        h3{
            @extend p;
           
            font-weight: 700;
        }
    }
}
.modal-ani{
    animation: modal 0.4s ease-in forwards;
}
.modal-visible{
    visibility: visible;


}

.modal-hidden{
    transform: scale(0);
    visibility: hidden;
}
@keyframes modal{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}